
datosContaminacionMadrid/.idea/

Tráfico/Barcelona/DatosTraficoBarcelonaCompleto_Javier.ipynb

Tráfico/Barcelona/DatosTraficoBarcelona_Javier.ipynb
Tráfico/Madrid/trafico_mad_con_id_estaciones.csv
Tráfico/Madrid/qlik/trafico_mad_con_id_estaciones.csv
